# SQL with Python

We can connect and interact with relational databases using SQL via python by using the python library `psycopg2`.

First, we need to install it:

```bash
brew install libpq
# I had issues with the current version 2.9.3 on my Mac M1
# pip install psycopg2
# So after googling, I installed a previous version
pip install psycopg2-binary==2.9.2
````

Then, we follow these simple steps:
1. We connect to the SQL server with the database name, our username and password.
2. We execute the SQL query passing it as a string.
3. We fetch the results as a list of tuples, being each tuple a row.
4. If we changed anything in the database and we want to keep it, we need to `commit()`.
5. When we are finished, always disconnect from the server/database.

For more information, look at the [psycopg2 documentation](https://www.psycopg.org/docs/).

In [66]:
import psycopg2 as pg2

In [67]:
# Get PostgreSQL server password, stored in a TXT
# Make sure the PW is not uploaded to Github
# and try encrypting it
# This way is not the most secure one, though
lines = []
with open('secret.txt') as f:
    lines = f.readlines()
pw = str(lines[0]).split('\n')[0]

In [68]:
# Connect to the database
# user: by default it's postgres, but maybe we have chosen another one
# password: the one we introduced for the PostgreSQL server
conn = pg2.connect(database='dvdrental',
                   user='postgres',
                   password=pw)

In [69]:
# Retrieve the cursor: 
# this is like a pointer to the place in the database
# the server is in
cur = conn.cursor()

In [70]:
# Execute the SQL statement/query we want passed as a string
# Advice: don't automatize too much the generation of the query_string
# because we might unwillingly break the database, e.g., by removing tables
query_string = 'SELECT * FROM payment'
cur.execute(query_string)

In [71]:
# Now, the cursor object has the result of the query,
# which can be accessed via:
# - fetchall() # all rows returned in a list of tuples
# - fetchmany(n) # the first n rows returned in a list of tuples
# - fetone() # the first row returned as a tuple
# Important: once we fo fetch*, the returned row entries are removed from cur!
# Note that date columns are transformed to python datetime, for our convnience
cur.fetchone()

(17503,
 341,
 2,
 1520,
 Decimal('7.99'),
 datetime.datetime(2007, 2, 15, 22, 25, 46, 996577))

In [72]:
cur.fetchmany(3)

[(17504,
  341,
  1,
  1778,
  Decimal('1.99'),
  datetime.datetime(2007, 2, 16, 17, 23, 14, 996577)),
 (17505,
  341,
  1,
  1849,
  Decimal('7.99'),
  datetime.datetime(2007, 2, 16, 22, 41, 45, 996577)),
 (17506,
  341,
  2,
  2829,
  Decimal('2.99'),
  datetime.datetime(2007, 2, 19, 19, 39, 56, 996577))]

In [73]:
# All rows of the result fetched into a list of tuples
# Each tuple is a row
# We can carry out tuple unpacking
payments = cur.fetchall()

In [74]:
# Count all entries/rows
len(payments)

14592

In [75]:
# First row tuple
payments[0]

(17507,
 341,
 2,
 3130,
 Decimal('7.99'),
 datetime.datetime(2007, 2, 20, 17, 31, 48, 996577))

In [76]:
# 5th value in tuple of first row
payments[0][4]

Decimal('7.99')

In [77]:
# Close the connection
conn.close()

### Inserting Information

If we change the database, we need to `commit()` if we want them persistent!

In [78]:
query_str = '''
            CREATE TABLE new_table (
                userid integer
                , tmstmp timestamp
                , type varchar(10)
            );
            '''

In [ ]:
# Execute, as before
cur.execute(query)

In [ ]:
# We need to commit the changes to make them persistent
cur.commit()